.articleHeaderInner a {
color:#0000FF;
}

/* this doesn't work, why not? TO DO  */
a.articleHeaderInner:hover {
text-decoration:underline;
}

p {
line-height: 150%;
}

.articleTitle {
font-family: Arial, Helvetica, sans-serif ;
Font-weight: Bold ;
Font-Size: 150%;
display:inline;
}

.articleText{
display: inline;
line-height: 150%;
}

.graphText{
display: inline;
line-height: 150%;
}

.graphTextOnly{
display: inline;
line-height: 150%;
}

.refText{
display: inline;
line-height: 150%;
}

.articleToc{
line-height: 150%;
}

*{
box-sizing: border-box;
-moz-box-sizing: border-box;
}

.infobubble-container{
position: relative;
z-index:10;
}

.infobubble{
background-color: #EFEFEF;
display: none;
border-top: 1px solid grey;
border-bottom: 1px solid grey;
border-left: 1px solid grey;
border-right: 1px solid grey;
text-indent: -1px;
padding: 8px 10px 10px 10px;
position: absolute;
z-index:2;
top: 0px;
left: -300px;
width: 290px;
}

.mlktScroll{
border: 1px solid #CCCCCC;
height: 100px;
width: 270px;
overflow: auto;
background-color: #FFFFFF;
}

.mlktLink{
padding: 5px 5px 0px;
background-color: #F6F6F6;
}

.mlktEmpty{
padding: 5px 5px 5px 5px;
background-color: #F6F6F6;
border-bottom: 1px solid #CCCCCC;
}

.outerPage{
padding:5px 0px 0px 0px;
}

/* surrounds stuff on left and right */
.articlePage{
width:100%;
background-color:#F6F6F6;
background-repeat:repeat-x;
border:1px solid #999999; 
padding:5px;
min-height: 975px;
}

/* For the style housing the body of the article: stuff on left */
.articleHeaderInner{
border:5px;
background-color:#FFFFFF;
padding:5px;
margin-right:350px;
}

/* stuff on right */
.FATTABInner{
display:block;
background-color: #f6f6f6;
/* margin:0px 0px 0px 0px; */
padding-left:0px;
padding-right:0px;
font-size:.9em;
float:right;
height:100%;
width:350px; /* Reflected in resizableImages Javascript */
}

.refersTable{
background-color: #FFFFFF;
font-family: arial, helvetica, sans-serif;
font-size: 1.0em;
line-height: 16px;
}

.refersLeftColumn{
vertical-align : top;
text-align: right;
font-weight: bold;
width: 55px;
padding-left: 5px;
}

.refersDivider{
background-color: #FFFFFF;
height: 10px;
width: 100%;
margin: 0px;
padding: 0px;
}

/* For the reference popup view within an article */
.refPreview{
background-color: #EEEEEE;
z-index: 5;
display: none;
padding: 8px;
width: 300px;
}

.greyTable{
background-color: #F6F6F6;
border-color: #CCCCCC;
border-style: solid solid none;
border-width: 1px 1px 0px;
font-size:0.9em;
padding: 0px;
}

.greyHeader{
background-repeat:repeat-x;
border-bottom:1px solid #CCCCCC;
padding: 7px 5px;
}

.tabSelectedOuter{
float:left;
height:28px;
}

.tabUnselectedOuter{
float:left;
height:25px;
}

.tabSelectedInner{
background-color:#FFFFFF;
color:#000000;
float:left;
font-family:arial,verdana,helvetica,sans-serif;
font-size:1.5em;
height:28px;
padding-left:5px;
padding-right:5px;
padding-top:5px;
position:relative;
}

.tabUnselectedInner{
padding-left:5px;
padding-top:5px;
padding-right:5px;
height:25px;
position:relative;
font-size:1em;
font-family:arial,verdana,helvetica,sans-serif;
color:#000000;
float:left;
border-bottom:1px solid #cccccc;
}

.tabUnselectedOuter:hover{
cursor:pointer;
}
.tabUnselectedInner:hover{
cursor:pointer;
}

.disabledTabLink {
color:#bcbcbc;
}

.bottomArticle{
background-color:#FFFFFF;
position:relative;
}

.footerArticle{
background-color:#FFFFFF;
}

.ppvMSG{
float:right;
display:block;
padding: 5px 5px 5px 5px;
z-index:1;
}

.ppvMSG img{
border:0;
padding: 5px 5px 5px 5px;
}

/*
.authorsNoEnt sup{
display:none;
}
*/

.figTblUpiOuter{
margin-left: 10px;
border: 0px;
padding: 0px;
}

.tblScroll{
width:100%;
padding: 0px 0px 17px 0px;
overflow:auto;
overflow-y:visible;
}
.tblScrollBox{
}
.tblScrollLink{
display: inline;
}

.eqImgScroll {
width: 100%;
padding: 0px 0px 17px 0px;
overflow: auto;
vertical-align: middle;
text-align: left;
overflow-y: visible;
}
.eqImgScroll img,
.eqImgScroll a,
.eqImgScroll a:hover {
border: 0;
}
.inlMMLBox {
display:inline;
padding: 0px 0px 0px 0px;
margin: 0px 0px 0px 0px;
border: 0;
}
.fdBox {
padding: 0px 0px 0px 0px;
margin: 0px 0px 0px 0px;
border: 0;
width: 100%;
position: relative;
}
.fdNoLabel {
text-align: center;
vertical-align: middle;
}
.fdWithLabel {
margin-right: 10%;
text-align: center;
vertical-align: middle;
}
.fdLabel {
width: 10%;
text-align: right;
position: absolute;
top: 45%;
right: 0px;
}
.fdLabelTxt {
vertical-align: super;
}
.sizeImg {
   max-width: 100%;
   height: auto;
}
.sizeImgBox {
}
.sizeImgLink {
   display: inline;
}
.viewWithinBtn:hover,
.viewWithinBtn {
   text-decoration: none;
   display: inline;
   padding: 1px 10px 1px 10px;
   margin: 0px;
   background-color: #EEEEEE;
   border: 1px solid #666666;
   color: #666666;
   font-size: 11px;
   font-weight: bold;
   height: 19px;
   width: auto;
}
.graphTextOnly a:hover {
   text-decoration: none;
}
.outwardBox {
    background-color:#FFFFFF;
    border-color:#CCCCCC;
    border-style:solid;
    border-width:1px;
    font-size:0.8em;
    margin:0px;
    padding:3px;
    text-align:center;
}
.outwardBox td {
padding:3px;
}
.NextBiovRow {
   margin: 0px;
   border: 0px;
   padding: 0px;
   background-color: #FFFFFF;
}

.MMCvRow {
   margin: 0px; 
   border: 0px;
   padding: 0px; 
   background-color: #FFFFFF;
}
.MMCvOuter {
   display: block; 
   float: right; 
   width: 341px;
   margin: 0px; 
   border: 0px;
   padding: 0px 5px 0px 0px; 
   background-color: #FFFFFF;
   font-size:.9em;
   overflow: hidden;
   overflow-x: hidden;
   overflow-y: hidden;
}
.MMCvTitleBox {
   font-weight: bold;
   margin: 2px;
   margin-bottom:12px;
   border: 0px;
   border-bottom: 1px solid #CCCCCC;
   padding: 0px;
}
.MMCvTitleSpan {
   position: relative;
   top: 2;
   background-color: #ffffff;
}
.MMCvRefHovs {
   margin: 0px; 
   border: 0px;
   padding: 0px; 
}
.MMCvTabs {
   margin: 0px;
   border-bottom: 1px solid #CCCCCC;
   padding: 2px 0px 2px 0px; 
}
.MMCvTab {
   text-align: center; 
   margin: 0px 5px 0px 0px; 
   border: 1px solid #CCCCCC;
   border-bottom: 0px;
   padding: 2px 9px 2px 9px; 
   color:#0000FF;
   background-color: #ffffff;
   font-weight: bold;
   cursor: pointer;
}
.MMCvTab:hover {
   text-decoration: underline;
}
.MMCvTabActive {
   text-align: center; 
   margin: 0px 5px 0px 0px; 
   border: 1px solid #CCCCCC;
   border-bottom: 0px;
   padding: 2px 9px 3px 9px; 
   font-weight: bold;
   background-color: #F2F2F2;
}
.MMCvTabActive a:hover {
text-decoration: none;
}
.MMCvSelector {
   width: 336px;
   text-align: right; 
   background-color: #F2F2F2;
   margin: 0px; 
   border: 0px;
   border-left: 1px solid #CCCCCC;
   border-right: 1px solid #CCCCCC;
   padding: 0px 5px 0px 0px; 
}
.MMCvSelectDiv {
   margin: 0px; 
   border: 0px;
   padding: 3px; 
}
.MMCvSelectorItem {
   cursor: pointer;
   margin: 0px; 
   border: 0px ;
   padding: 0px; 
   color: #0000FF;
}
.MMCvSelectorCollapseItem {
   cursor: pointer;
}

.MMCvSelRover {
  display: inline;
  padding: 0px;
  margin: 0px;
  border: 0px;
  font-size: 145%;
}

.MMCvSelRover img {
  border: 0px;
  margin: 0px;
  padding: 0px;
  vertical-align: -4px;
}

.MMCvViewBacking {
   width: 336px;
   margin: 0px;
   background-color: #F2F2F2; 
   padding-left: 8px;
   padding-right: 8px;
   padding-bottom: 0px;
   border: 1px solid #CCCCCC;
   border-top: none;
}
.MMCvViewer {
   position:absolute;
   width: 320px;
   margin: 0px;
   padding: 0px; 
   border-top: 1px solid #CCCCCC;
   background-color: #FFFFFF; 
   overflow: hidden;
   overflow-x: hidden;
   overflow-y: hidden;
   border-bottom: none;
}
.MMCvVideoComponent,
.MMCvAudioComponent,
.MMCvOtherComponent {
   position:absolute; 
   top: 0; 
   left: 345;
   width: 320px; 
   margin: 0px 195px 0px 0px;
   padding: 0px;
   display: block;
}
.MMCvCaptionArea {
   display: block; 
   float:right; 
   width: 245px; 
   margin: 0px;
   overflow: hidden;
   overflow-x: hidden;
   overflow-y: hidden;
}
.MMCvAudioOtherWrapper {
   display: block;
   width: 320px;
   margin: 0px;
   overflow: hidden;
   overflow-x: hidden;
   overflow-y: hidden;
   border: 1px solid #CCCCCC;
   border-top: none;
}
.MMCvCaptionWrapper {
   display: block; 
   width: 245px;
   margin: 0px;
   border: 0px;
   padding: 4px;
   padding-top: 0px;
   overflow: hidden; 
   overflow-x: hidden; 
   overflow-y: hidden;
}
.MMCvCaption {
   display: block; 
   width: 245px;
   margin: 0px;
   border: 0px;
   padding: 6px;
}
.MMCvVideoCaptionArea {
   display: block;
   width: 320px;
   margin: 0px;
   padding: 0px;
   overflow: hidden;
   overflow-x: hidden;
   overflow-y: hidden;
}
.MMCvVideoCaptionWrapper {
   display: block;
   width: 320px;
   margin: 0px;
   border: 0px;
   padding: 4px;
   padding-top: 0px;
   overflow: hidden;
   overflow-x: hidden;
   overflow-y: hidden;
}
.MMCvVideoCaption {
   display: block;
   width: 320px;
   margin: 0px;
   border: 0px;
   padding: 6px;
}
.MMCvVideoPlayerArea {
   display: block;
   width: 320px;
   margin: 0px;
   padding: 0px;
   overflow: hidden;
   overflow-x: hidden;
   overflow-y: hidden;
   height: 265px;
}
.MMCvVideoPlayerWrapper {
   display: block;
   width: 320px;
   margin: 0px;
   border: 0px;
   padding: 0px;
   overflow: hidden;
   overflow-x: hidden;
   overflow-y: hidden;
   position: relative;
   height: 265px;
}
.MMCvVideoPlayer{
   display: block;
   width: 320px;
   margin: 0px;
   border-bottom: 1px solid #CCCCCC;
   border-left: 1px solid #CCCCCC;
   border-right: 1px solid #CCCCCC;
   vertical-align:middle;
   height: 265px;
}
.MMCvAudioPlayerWrapper {
   display: block;
   width: 320px;
   margin: 0px;
   padding: 0px;
   height: 28px;
   overflow: hidden;
   overflow-x: hidden;
   overflow-y: hidden;
}
.MMCvAudioPlayer{
   display: block;
   width: 320px;
   margin: 0px;
   border: 0px;
   text-align: center;
   height: 28px;


}
.MMCvErrorArea {
   display: block;
   width: 300px;
   height: 260px;
   margin: 0px;
   border: 0px;
   padding: 0px;
   overflow: hidden;
   overflow-x: hidden;
   overflow-y: hidden;
   vertical-align: middle;
}
.MMCvError {
   position: absolute;
   text-align: center;
   top: 50px;
   width: 320px;
   font-size: 1.1em;

}
.MMCvAudioError {
   text-align: center;
   width: 320px;
   padding: 10px;
   font-size: 1.1em;
   border-bottom: 1px dotted #CCCCCC;
}
.MMCvAudioErrorNoCaption {
   text-align: center;
   width: 320px;
   padding: 8px;
   font-size: 1.1em;
   border: 1px solid #CCCCCC;
   border-top: none;
}
.MMCvMoreSpacer {
  margin: 0px;
  padding: 0px 0px 2px 0px;
  border: 0px;
  border-bottom: 1px dashed #000000;
}
.MMCvMoreWrapper {
  display: none; 
  width: 195px; 
  margin: 0px;
  border: 0px;
  padding: 0px 9px 0px 9px;
  color:#0000FF;
  cursor: pointer;
}
.MMCvLessWrapper {
  display: none; 
  width: 195px; 
  margin: 0px;
  border: 0px;
  padding: 0px 9px 0px 9px;
  color:#0000FF;
  cursor: pointer;
}
.MMCvImageArea {
  width: 58px;
  margin: 0px;
  padding: 8px; 
}
.MMCvDownload {
  display: block;
  margin: 0px;
  float: right;
}
.MMCvViewWithin {
 display: block;
 margin: 0px;
}
.MMCvViewDownloadWrapper {
  display: block;
  width: 320px;
  background-color: #F2F2F2;
  padding: 5px 0px 5px 0px;
}
.MMCvImage {
  width:50;
  margin: 0px;
  border: 0px;
  padding: 0px; 
  height: 50;
}
#shadow-container {
  position:relative;
  top:3px;
  left:3px;
  margin-right:3px;
  margin-bottom:3px;
  float:left;
  padding-right:10px;
  padding-top:10px;
  padding-bottom:10px;
}
.shadow1,
.shadow2,
.shadow3,
.container {
  position:relative;
  left:-1px;
  top:-1px;
  width:220px;
}
.shadow1{
    background:#F1F1F1;
    width:220px;
}
.shadow2{
    background:#DBDADB;
}
.shadow3{
    background:#B8B6B8;
}
.container{
    background-color:#F2F2F2;
    padding:8px;
    font-size:1.1em;
    font-family:Geneva, Arial, Helvetica, sans-serif;
    color:#555555;
    width:220px;
}
.MMCvVideoImageArea {
  display: table;
  height: 180px;
  width: 320px;
  border: 1px solid #CCCCCC;
  border-top: none;
  text-align: center;
}
.MMCvInstallFP {
   display: block;
   padding: 4px;
}
.MMCvVideoImageWrapper {
  display: table-cell;
  vertical-align: middle;
}
.MMCvInstallFP {
  display: block;
  padding: 4px;
}

<!--[if lt IE 8]>
.MMCvVideoImageArea {
  display: block;
}

.MMCvVideoImageWrapper {
  height: 0;
  height: auto;
  position: relative;
  top: 50%;
  zoom: 1;
}
.MMCvVideoImage {
  position: relative;
  top: -50%;
  height: 0;
  height: auto;
  zoom: 1;
}

<![endif]-->

.alphaNavSIBorder{
    border-bottom:dashed 1px #cccccc;
    font-size:1.2em;
    padding-bottom:0px;
    margin:1px;
    font-weight:bold;
}
ul.artAlphaNavBar{
    display:block;
}
ul.artAlphaNavBar li{
    list-style:none;
    padding-left:3px;
    padding-right:3px;
    border-left:1px solid #999999;
    display:inline;
}
dl dl dl {
margin-left:10px;
margin: 0;
padding: 0;
line-height:100%;
} 
dt{
margin: 0px;
padding:0;
line-height:14pt;
}
dd{
margin: 10px;
padding:0;
line-height:150%;
}
dl p {
margin-left: 0px;
line-height:100%;
}
dt p {
margin-left: 0px;
line-height:100%;
}
dd p {
margin-left: 0px;
line-height:100%;
}

#pdfArea object{
display:block;
border: 1px solid #666;
}

#pdfPage {
display: block; 
width: 100%;
overflow: auto;
height:820px;
}

.loadWindow {
border:1px solid grey;
padding:5px;
width: 600px;
height: 820px;
}

.reRunStyle {
border:1px solid rgb(248,202,115);
padding:4px;
background-color:
rgb(248,229,130);
float:left;
position:relative;
z-index:9;
margin-bottom:2px;
}
